################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/ConsoleApp1
/ConsoleApp2
/ConsoleApp3
/Graph-master
/LinkedListCodeblog-master
/RunGroop-master
/uch
/WpfLibrary1
