
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<div class="features">
    <h1> {{ type_troops.title }}</h1>
    <a href="{% url 'delete2' type_troops.id %}" class="btn btn-danger">Удалить</a>
    <a href="{% url 'update2' type_troops.id %}" class="btn btn-info">Редактировать</a>
</div>

</body>
</html>